<form #formdata="ngForm" (ngSubmit)="onSubmit(formdata)">
    <div class="form-group has-validation">
        <div class="col-12">
            <label for="name" class="label-control">Nome:</label>
        </div>
        <div case="col-12">
            <input type="text" id="name" class="form-control" 
            [ngClass]="verificaCampo(name)"
            placeholder="Nome" 
            name="name" ngModel #name="ngModel"
            required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
    </div>
    <div class="form-group has-validation">
        <div class="col-12">
            <label for="email">E-mail:</label>
        </div>
        <div class="col-12">
        <input type="email" id="email" class="form-control"
        [ngClass]="verificaCampo(email)"
        placeholder="nome@email.com"
        name="email" #email="ngModel" ngModel required
        email>
        
        <div class="invalid-feedback">
            Campo obrigatório
        </div>
        </div>
    </div>
    <div class="form-group has-validation row">
        <div class="col-4">            
            <label for="cep" class="control-label">
                CEP:
            </label>
            <input type="number" class="form-control" name="cep" placeholder="Digite o CEP"
            #cep="ngModel" ngModel
            [ngClass]="verificaCampo(cep)" 
            (blur)="validaCep($event, formdata)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
        <div class="col-4">
            <label for="num" class="control-label">
                Número:
            </label>
            <input name="num" type="number" class="form-control" placeholder="Número"
            #num="ngModel" ngModel
            [ngClass]="verificaCampo(num)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
        <div class="col-4">
            <label for="complemento" class="label-group">
                Complemento:
            </label>
            <input name="complemento" type="text" class="form-control" placeholder="Complemento"
            #complemento="ngModel" ngModel>
           
        </div>
    </div>
    <div class="form-group has-validation">
        <div class="col-12">
            <label for="endereco" class="label-group">Endereço:</label>
            <input name="endereco" type="text" class="form-control" placeholder="Endereço"
            #endereco="ngModel" ngModel
            [ngClass]="verificaCampo(endereco)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
    </div>
    <div class="form-group has-validation row">
        <div class="col-4">            
            <label for="bairro" class="label-group">
                Bairro:
            </label>
            <input name="bairro" type="text" class="form-control" placeholder="Digite o bairro"
            #bairro="ngModel" ngModel
            [ngClass]="verificaCampo(bairro)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
        <div class="col-4">
            <label for="cidade" class="label-group">
                Cidade:
            </label>
            <input name="cidade" type="text" placeholder="Digite a cidade"
            #cidade="ngModel" ngModel class="form-control"
            [ngClass]="verificaCampo(cidade)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
        <div class="col-4">
            <label for="estado" class="label-group">
                Estado:
            </label>
            <input name="estado" type="text" class="form-control" placeholder="Estado"
            #estado="ngModel" ngModel
            [ngClass]="verificaCampo(estado)" required>
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"
    [disabled]="!formdata.valid">Enviar</button>
    <app-form-debug [formdata]="formdata"></app-form-debug>
</form>