<div class="card text-center">
    <div class="card-header">
        Detalhes do form
    </div>
    <div *ngIf="formdata" class="card-body">
    <p>
        Form válido <span [ngClass]="verificaCampo(formdata.valid)">{{ formdata.valid }}</span>
    </p>
    <p>
        Form submetido <span [ngClass]="verificaCampo(formdata.valid)"> {{ formdata.submitted }}</span>
    </p>
    <p>
        Form data json <span [ngClass]="verificaCampo(formdata.valid)"> {{ formdata.value | json }} </span>
    </p>
    </div>

</div>