<div class="card text-center">
    <div class="card-header">
        Detalhes do form
    </div>
    <div *ngIf="form" class="card-body">
    <p>
        Form válido <span class="text-uppercase" [ngClass]="verificaCampo(form.valid)">{{ form.valid }}</span>
    </p>
    <p>
        Form submetido <span class="text-uppercase" [ngClass]="verificaCampo(form.submitted)"> 
        {{ form.status }}
        </span>
    </p>
    <p>
        Form data json <span> {{ form.value | json }} </span>
    </p>
    </div>

</div>